$main-font-stack: 'Open Sans', sans-serif;
$heading-font-stack: 'Roboto', sans-serif;
$main-font-color: #555252;
$link-font-color: #1abc9c;
$title-font-color: #515151;
$link-background-color: #323232;
$color-primary-white: #ffffff;
$color-secondary-white: #fefefe;
