.container {
  width: 1170px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 30px;
}

.section-new-collection__container {
  background-color: #e9f0fd;
  padding-bottom: 106px;
  padding-top: 100px;
}
