.news-cards {
  display: flex;
  flex-wrap: wrap;
}

.news-cards__item {
  flex-basis: calc(100% / 3 - 20px);
  flex-grow: 0;
  margin-right: 30px;

  &:nth-child(3n) {
    margin-right: 0;
  }
}

.news-cards__title {
  font-family: $main-font-stack;
  font-size: 18px;
  line-height: 26px;
  color: $main-font-color;
  position: relative;
  margin: 0;
  margin-bottom: 30px;

  &::after {
    width: 136px;
    height: 3px;
    content: '';
    display: flex;
    justify-content: center;
    border-top: 3px solid $link-font-color;
    margin-top: 15px;
  }
}

.news-cards__paragraph {
  font-family: $main-font-stack;
  color: $main-font-color;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  margin: 0;
  padding-bottom: 15px;
  display: flex;
  flex-wrap: wrap;
}

.news-cards__read-more {
  display: flex;
  font-family: $main-font-stack;
  justify-content: center;
  align-items: center;
  background-color: $link-font-color;
  color: $color-primary-white;
  font-size: 16px;
  font-weight: 300;
  cursor: pointer;
  width: 160px;
  min-height: 50px;
  border-radius: 3px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;

  &:hover,
  &:focus {
    background-color: var(--main-font-color);
  }
}
